<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.credit.dao.system.AuMenuMapper">

  <resultMap id="BaseResultMap" type="com.credit.entity.system.AuMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_level" jdbcType="VARCHAR" property="menuLevel" />
    <result column="has_child" jdbcType="VARCHAR" property="hasChild" />
    <result column="icon_code" jdbcType="VARCHAR" property="iconCode" />
    <result column="menu_path" jdbcType="VARCHAR" property="menuPath" />
    <result column="super_id" jdbcType="VARCHAR" property="superId" />
    <result column="menu_order" jdbcType="DECIMAL" property="menuOrder" />
    <result column="IS_VALID" jdbcType="VARCHAR" property="isValid" />
    <result column="IS_DEL" jdbcType="VARCHAR" property="isDel" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_USER_NAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="VARCHAR" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_USER_NAME" jdbcType="VARCHAR" property="lastUpdateUserName" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, menu_name, menu_code, menu_level, has_child, icon_code, menu_path, super_id, menu_order, IS_VALID, IS_DEL, 
    CREATE_USER_ID, CREATE_USER_NAME, CREATE_DATE, LAST_UPDATE_USER_ID, LAST_UPDATE_USER_NAME, 
    LAST_UPDATE_DATE
  </sql>
  <select id="selectAllMenus" resultMap="BaseResultMap" parameterType="map">
  	<![CDATA[  
	    select * 
	    from au_menu 
	    where is_del = #{isdel}
	    order by has_child desc, menu_level, menu_order
    ]]>
  </select>
  
  <select id="getChildrenById" parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM au_menu 
		<if test = "id!=null and id !=''">
		WHERE SUPER_ID =#{id,jdbcType=VARCHAR}
		</if>
		<if test = "id==null or id ==''">
		WHERE SUPER_ID is null or SUPER_ID = ''
		</if>
		AND IS_DEL='0' 
	</select>
  
  <select id="getMenuById" resultMap="BaseResultMap" parameterType="map">
  	<![CDATA[  
	    select * 
	    from au_menu 
	    where id = #{id}
	    order by has_child desc, menu_level, menu_order
    ]]>
  </select>
  
  <select id="ifExistsMenuCode" parameterType="map" resultType="menu">
	<![CDATA[
	SELECT * FROM AU_MENU T
		WHERE T.IS_DEL = '0' 
		AND t.MENU_CODE = #{menuCode,jdbcType=VARCHAR}
		AND T.ID != #{id,jdbcType=VARCHAR}
	]]>
  </select>
  
  <select id="getChildCount" resultType="int" parameterType="map">
  	<![CDATA[  
	    select count(id) 
	    from au_menu 
	    where is_del = #{isDel} and 
	    super_id = (select super_id from au_menu where id = #{id}) 
    ]]>
  </select>
  
  <update id="delete" parameterType="java.util.ArrayList" >
    update au_menu set is_del = '1'
    where ID in 
    <foreach collection="list" item="item" open="(" close=")" separator=",">
    	#{item}  
    </foreach>
  </update>
  
  <insert id="insert" parameterType="java.util.Map">
    insert into au_menu (ID, menu_name, menu_code, menu_level, has_child, 
      icon_code, menu_path, super_id, 
      menu_order, IS_VALID, IS_DEL, 
      CREATE_USER_ID, CREATE_USER_NAME, CREATE_DATE
      )
    values (uuid(), #{menuName,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, 
      #{menuLevel,jdbcType=VARCHAR}, #{hasChild,jdbcType=VARCHAR}, 
      #{iconCode,jdbcType=VARCHAR}, #{menuPath,jdbcType=VARCHAR}, #{superId,jdbcType=VARCHAR}, 
      #{menuOrder,jdbcType=DECIMAL}, #{isValid,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR},
      #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="update" parameterType="com.credit.entity.system.AuMenu">
    update au_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_code = #{menuCode,jdbcType=VARCHAR},
      icon_code = #{iconCode,jdbcType=VARCHAR},
      menu_path = #{menuPath,jdbcType=VARCHAR},
      menu_order = #{menuOrder,jdbcType=DECIMAL},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=VARCHAR},
      LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateHasChild" parameterType="java.util.Map">
    update au_menu
    set has_child = #{hasChild,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>