<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- system beans -->
		<typeAlias alias="city" type="com.credit.entity.system.AuCity" />
		<typeAlias alias="menu" type="com.credit.entity.system.AuMenu" />
		<typeAlias alias="role" type="com.credit.entity.system.AuRole" />
		<typeAlias alias="user" type="com.credit.entity.system.AuUser" />
		<typeAlias alias="baseDataType" type="com.credit.entity.system.BaseDataType" />
		<typeAlias alias="baseDataItem" type="com.credit.entity.system.BaseDataItem" />
		
		<!-- 客户管理 -->
		<typeAlias alias="customer" type="com.credit.entity.customer.Customer" />

	</typeAliases>
	<plugins>
		<plugin interceptor="com.credit.comm.util.interceptor.PaginationInterceptor">
		</plugin>
	</plugins>
	<mappers>
		<!-- cache model -->
		<mapper resource="com/credit/dao/cache/mapper/CacheMapper.xml" />
		<!-- system model -->
		<mapper resource="com/credit/dao/system/mapper/AuCityMapper.xml" />
		<mapper resource="com/credit/dao/system/mapper/AuMenuMapper.xml" />
		<mapper resource="com/credit/dao/system/mapper/AuRoleMapper.xml" />
		<mapper resource="com/credit/dao/system/mapper/AuUserMapper.xml" />
		<mapper resource="com/credit/dao/system/mapper/DdBaseDataItemMapper.xml" />
		<mapper resource="com/credit/dao/system/mapper/DdBaseDataTypeMapper.xml" />

		<!-- customer model -->
		<mapper resource="com/credit/dao/customer/mapper/CustomerMapper.xml" />
	</mappers>
</configuration>